.button {
  display: block;
  padding: 8px 16px;
  background: #4262FF;
  border-radius: 6px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 16px;
  border: none;
  outline: none;
  &:hover {
    opacity: .8;
  }
}