.emails-field {
  display: block;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #C3C2CF;
  border-radius: 4px;
  padding: 8px 7px;
  overflow: auto;
}

.emails-field__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.emails-field__added {
  display: block;
  position: relative;
  height: 24px;
  background: rgba(102, 153, 255, 0.2);
  border-radius: 18px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  color: #050038;
  padding: 0 24px 0 10px;
  margin: 0 8px 4px 0;
  &.invalid {
    background: transparent;
    padding: 0 16px 0 0;
    border-bottom: 1px dashed #D92929;
    border-radius: 0;
    .emails-field__remove {
      right: 0;
    }
  }
}

.emails-field__remove {
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 0;
  left: auto;
  bottom: 0;
  right: 8px;
  margin: auto;
  transform: rotate(45deg);
  cursor: pointer;
  &:after, &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: 100%;
    background: #050038;
  }
  &:before {
    width: 100%;
    height: 1px;
  }
}

.emails-field__input {
  display: block;
  flex-grow: 1;
  padding: 0;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  border: none;
  color: #050038;
  max-width: 122px;
  &::placeholder {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
  &::-webkit-input-placeholder {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
  &::-moz-placeholder {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
  &:-ms-input-placeholder {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
  &:-moz-placeholder {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
  &::-ms-clear {
    display: none;
  }
}